*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
}

form{
width: 40%;
background-color: gray;
border-radius: 10px;
text-align: center;
margin-top: 10%;
padding-bottom: 5%;
}

h1{
    padding-top: 2%;
    padding-bottom: 1%;
}

.create-button{
    display: flex;
    gap: 5px;
    
    justify-content: center;
    align-items: center;
}

button{
    background-color: pink;
    padding: 1%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color:cadetblue;
    cursor: pointer;
    width : 20%;
    font-size: large;
}

img{
    height: 45px;
}

.input-box .box{
  position: relative;
  margin: 35px;
  width: 90%;
  min-height: 100px;
  color: black;
  border:solid gainsboro ;
  border-radius: 8px;
  background-color: white;
  outline: none;
  text-align: left;
}

.input-box img{
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

/* Small devices (phones) */
@media (max-width: 600px) {
  *{
    flex-direction: column;
  }
  button{
    padding: 2%;
    width : 40%;
  }
  .input-box p{
    width: 85%;
  }
  .input-box .box{
    width: 50%;
  }
  form{
    width: 60%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  *{
    flex-direction: row;
  }
  button{
    padding: 2%;
    width : 40%;
  }
  .input-box p{
    width: 85%;
  }
  .input-box .box{
    width: 85%;
  }
  form{
    width: 60%;
  }
}
